*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;

}
a{
    text-decoration: none;
}


/* header css start here  */
.header_bg{
    background-color: #e4e4e4;
}


/* footer css start here  */
.footer_bg{
    background-color: #e4e4e4;
}